<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form method="post" action="/">
      <h2>Team Info</h2>

      Name: <input type="text" name="name"></text>
      <br>
      Breed: <input type="text" name="breed"></text>
      <br>
      Age: <input type="text" name="age"></text>
      <br>
      <input type="submit" value="Submit" id="submit">

    </form>
  </body>
</html>
